body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

h1 {
  font-size: 2rem;
  margin-bottom: 18px;
}

.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  order: -1;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  align-self: flex-start;
  width: 100%;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.icon {
  font-size: 4rem;
}

.emoji p {
  flex-grow: 1;
}



